@use 'sass:math';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:string';

$breakpoint-sp: 768px;

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin hidden {
  opacity: 0;
  visibility: hidden;
}

/* vwの設定
========================================================================== */
@function get_vw($size, $viewport: 375) {
  $rate: calc(100 / $viewport);
  @return calc($rate * $size * 1vw);
}

@function pxtovw($num, $width: 375) {
  @return calc(1vw * $num / $width * 100);
}

@function pc-pxtovw($num, $width: 1200) {
  @return calc(1vw * $num / $width * 100);
}

/* ブレークポイントの設定
========================================================================== */
$breakpoints: (
  'sp': (
    max-width: 767px,
  ),
  'xs': (
    min-width: 0,
  ),
  'md': (
    min-width: 768px,
  ),
  'lg': (
    min-width: 992px,
  ),
  'w1080': (
    min-width: 1080px,
  ),
  'w1200': (
    min-width: 1200px,
  ),
  'xl': (
    min-width: 1200px,
  ),
  'xxl': (
    min-width: 1400px,
  ),
  'yoko': (
    orientation: landscape,
  ),
) !default;

@mixin responsive($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media screen and #{meta.inspect(map.get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  // マップ型で定義されていない値が呼び出された時はエラーを返す
  @else {
    @error "指定されたブレークポイントは定義されていません。"+"指定できるブレークポイントは次のとおりです。 -> #{map.keys($breakpoints)}";
  }
}

/* イメージセット
========================================================================== */
@mixin image-set($path, $filename) {
  // 拡張子前のファイル名だけ取得（test@2x）
  $name: string.slice($filename, 1, string.index($filename, '.') - 1);

  $avif: '#{$path}avif/#{$name}.avif';
  $webp: '#{$path}webp/#{$name}.webp';
  $jpg: '#{$path}#{$filename}';

  background-image: url(#{$jpg});

  background-image: -webkit-image-set(url(#{$avif}) 1x, url(#{$webp}) 1x, url(#{$jpg}) 1x);

  background-image: image-set(
    url(#{$avif}) type('image/avif') 1x,
    url(#{$webp}) type('image/webp') 1x,
    url(#{$jpg}) type('image/jpeg') 1x
  );
}
