.hamburger {
  @include center;
  flex-direction: column;
  width: 3.5rem;
  height: 4.4rem;
  background: transparent;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  pointer-events: auto;
  position: relative;
  z-index: 100;
  transition: transform 0.2s ease;

  @include responsive(md) {
    display: none;
  }

  &:active {
    transform: scale(0.97);
  }

  &.open {
    background: transparent;

    .line {
      background-color: $main;
      &:nth-child(1) {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: scaleX(0);
      }

      &:nth-child(3) {
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      }
    }
  }
}

.line {
  display: block;
  width: 100%;
  height: 0.3rem;
  background: $main;
  border-radius: 99.9rem;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease,
    background-color 0.3s ease;
  transform-origin: center;

  &:nth-child(1),
  &:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &:nth-child(1) {
    transform: translateX(-50%) translateY(-1.3rem) rotate(0);
  }

  &:nth-child(3) {
    transform: translateX(-50%) translateY(1rem) rotate(0);
  }
}
