@use '@/app/(frontend)/_styles/variables' as *;

.first-view {
  min-height: 100svh;
  background: $bg;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100svh;

  @include responsive(lg) {
    height: 100%;
  }
}

.title {
  font-size: 4rem;
  line-height: 1.3;
  font-family: $font-sub-script;
  font-weight: 700;
  color: $fontBase;

  @include responsive(lg) {
    font-size: 9rem;
  }

  .big {
    font-size: 6.4rem;
  }
}

.sub {
  font-size: 2rem;
  color: $fontBase;
  opacity: 0.8;
}
