@use '@/app/(frontend)/_styles/variables' as *;
@use '@/app/(frontend)/_styles/mixins' as *;

.about {
  width: 100%;
  position: relative;
  z-index: 1;
}

.wrap {
  // @include center();
  // flex-direction: column;
  // max-width: 80rem;
  // margin: 0 auto;
}

.content {
  text-align: center;

  p {
    font-size: 1.4rem;
    line-height: 2;
    color: $fontBase;
    font-family: $font-main;

    @include responsive(md) {
      font-size: 1.6rem;
    }
  }
}
