@import 'ress';

:root {
  --color-main: #f78c00;
  --color-bg: #ffeedf;
  --color-bg2: #e4e2e1;
  --color-font: #5e3100;
  --color-accent: #ffa836;
  --font-main: var(--font-zen-kaku), sans-serif;
  --font-sub-script: var(--font-dancing), cursive;
  --font-sub-modern: var(--font-quicksand), sans-serif;
}

html {
  font-size: calc(1vw * 10 / 375 * 100);
  height: -webkit-fill-available;

  @media (--md) {
    font-size: 10px;
  }
}

body {
  width: 100%;
  font-size: 1.6rem;
  font-feature-settings: 'palt' 1;
  line-height: 1.5;
  font-family: var(--font-main);
  font-weight: 400;
  color: var(--color-font);
  font-style: normal;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: bottom;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

dt {
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

iframe {
  vertical-align: bottom;
}

picture {
  display: block;
}

.bold {
  font-weight: 700;
}

.sp {
  display: block;
  @media (--md) {
    display: none;
  }

  &-inline {
    display: inline;
    @media (--md) {
      display: none;
    }
  }

  &-flax {
    display: none;
    @media (--md) {
      display: flex;
    }
  }
}

.pc {
  display: none;
  @media (--md) {
    display: block;
  }

  &-inline {
    display: none;
    @media (--md) {
      display: inline;
    }
  }
  &-flax {
    display: none;
    @media (--md) {
      display: flex;
    }
  }
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

.wrap {
  padding: 8rem 3.6rem;

  @media (--lg) {
    height: 64rem;
    padding: 0;
    margin: auto 0;
  }

  &.flex {
    display: flex;
    flex-direction: column;
  }
}
