@use '@/app/(frontend)/_styles/variables' as *;
@use '@/app/(frontend)/_styles/mixins' as *;

.title {
  font-size: 2.4rem;
  font-weight: 700;
  color: $fontBase;
  line-height: 1;
  position: relative;
  z-index: 1;

  @include responsive(lg) {
    font-size: 3rem;
  }

  &[data-en]::before {
    @include quicksand;
    content: attr(data-en);
    display: block;
    font-size: 4.2rem;
    color: $main;
    line-height: 0.8;
    opacity: 0.2;
    position: absolute;
    z-index: -1;
    bottom: 0.8rem;
    left: 2rem;

    @include responsive(lg) {
      font-size: 6rem;
    }
  }
}
